<header>
  <div class="bg-dark collapse" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">Hexa Kitchen offers ordering different cuisines from North, South and Indo-Chinese
            Delicacies.
            Employee can login and order from different types of Drinks, Appetizers and Main course.
          </p>
          <button class="nav-item btn btn-lg">
            <a class="nav-link" routerLink="/Login" *ngIf="!currentUser">Login</a>
          </button>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Follow on Twitter</a></li>
            <li><a href="#" class="text-white">Like on Facebook</a></li>
            <li><a href="#" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a class="navbar-brand d-flex align-items-center">
        <a class="navbar-brand" style="color:white">
          <img src="assets/images/Restaurant.jpg" alt="">
          <strong>Hexa Kitchen</strong>
        </a>
      </a>

      <a *ngIf="currentUser">
          <a class="navbar-item" style="color: blue">            
            <strong>User Name: {{currentUser.userName}}</strong>
            &nbsp;
            <strong>User Id: {{currentUser.id}}</strong>
          </a>
          &nbsp;
          <a class="btn btn-primary" (click)="logout()">Logout</a>
      </a>      

      <ul class="ml-auto">
        &nbsp;
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarHeader"
          aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </ul>
    </div>
  </div>
</header>