<main>        
    <section class="jumbotron text-center">          
        <div class="container">
            <h1 class="jumbotron-heading">Welcome Admin</h1><br>
            <div class="row text-center">
                <div class="col-md-6 card">
                    <img class="card-img-top" src="assets/images/vendor.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Vendor's Details</h5>
                        <a href="#" class="btn btn-primary" routerLink="/VendorDetails">See More</a>
                    </div>
                </div>
                <div class="col-md-6 card">
                    <img class="card-img-top" src="assets/images/employee.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Employee's Details</h5>
                        <a href="#" class="btn btn-primary" routerLink="/EmployeeDetails">See More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>